{{!-- This is a partial file used to generate an issue "card" with a consistent grid layout. --}}

<article class="issue-grid-card{{#unless access}} issue-access-{{visibility}}{{/unless}}">

    {{#if feature_image}}
    <a class="issue-card-image-link" href="{{url}}">
        <img class="issue-card-image"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 800px"
            src="{{img_url feature_image size="m"}}"
            alt="{{title}}"
            loading="lazy"
        />

        {{#unless access}}{{^has visibility="public"}}
            <div class="issue-card-access">
                {{> "icons/lock"}}
                {{#has visibility="members"}}Members only{{else}}Paid-members only{{/has}}
            </div>
        {{/has}}{{/unless}}
    </a>
    {{/if}}

    <div class="issue-card-content">
        <a class="issue-card-content-link" href="{{url}}">
            <header class="issue-card-header">
                {{#primary_tag}}
                    <span class="issue-card-primary-tag">{{name}}</span>
                {{/primary_tag}}
                {{#if featured}}
                    <span class="issue-card-featured">{{> "icons/fire"}} Featured</span>
                {{/if}}
                <h2 class="issue-card-title">{{title}}</h2>
            </header>
            {{#if excerpt}}
            <!--    <div class="issue-card-excerpt">{{excerpt}}</div> -->
            {{/if}}
        </a>
        <footer class="issue-card-meta">

            {{#if reading_time}}
               <!-- <span class="issue-card-meta-length">{{reading_time}}</span> -->
            {{/if}}
            {{#if @site.comments_enabled}}
                {{comment_count}}
            {{/if}}
        </footer>
    </div>

</article>
