{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            <img class="site-header-cover"
                srcset="/cdn-cgi/image/width=300,quality=70,format=auto/{{@site.cover_image}} 300w,
                        /cdn-cgi/image/width=600,quality=70,format=auto/{{@site.cover_image}} 600w,
                        /cdn-cgi/image/width=1000,quality=70,format=auto/{{@site.cover_image}} 1000w,
                        /cdn-cgi/image/width=2000,quality=70,format=auto/{{@site.cover_image}} 2000w"
                sizes="100vw"
                src="/cdn-cgi/image/width=2000,quality=70,format=auto/{{@site.cover_image}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#match @custom.navigation_layout "Logo on cover"}}
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/if}}
            {{/match}}
            {{#if @site.description}}
                <p class="site-description">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
<div class="inner posts">

  {{!-- This code snippet should go right after <div class="inner posts"> --}}
  <div class="image-gallery">
      <div class="image-row">
          <div class="image-container">
              <a href="/get-involved/">
                  <img src="/cdn-cgi/image/width=300,quality=75,format=auto/https://content.henselforcongress.com/swifties/Volunteer.svg" alt="Volunteer" width="300">
              </a>
              <p class="image-caption">Volunteer</p>
          </div>

          <div class="image-container">
              <a href="/data">
                  <img src="/cdn-cgi/image/width=300,quality=75,format=auto/https://content.henselforcongress.com/swifties/Data.svg" alt="Data" width="300">
              </a>
              <p class="image-caption">Campaign Finances</p>
          </div>

          <div class="image-container">
              <a href="https://secure.anedot.com/hensel-for-congress/donate?utm_source=website&utm_medium=box&utm_campaign=homepage_donate" target="_blank" rel="noopener">
                  <img src="/cdn-cgi/image/width=300,quality=75,format=auto/https://content.henselforcongress.com/swifties/Donate.svg" alt="Donate" width="300" >
              </a>
              <p class="image-caption">Donate</p>
          </div>

          <div class="image-container">
              <a href="/about/">
                  <img src="/cdn-cgi/image/width=300,quality=75,format=auto/https://content.henselforcongress.com/swifties/LearnMore.svg" alt="Bio" width="300" >
              </a>
              <p class="image-caption">About Bentley</p>
          </div>
      </div>
  </div>

  <!-- Issues Section -->
  <section class="site-section issues-section">
      <div class="inner">
          <h2 class="section-title">Issues</h2>
          {{!-- Fetch featured posts with 'Issues' tag --}}
          {{#get "posts" filter="tag:issues" limit="6" as |issuesPosts|}}
              <div class="issue-feed">
                  {{#foreach issuesPosts}}
                  <article class="issue-card post">
                      {{> "issue-card"}}
                  </article>
                  {{/foreach}}
              </div>
              <!-- Always show 'View All' button -->
              <center><a href="{{@site.url}}/topics/issues/" class="view-all-button">All Issues 👀 </a></center>
          {{/get}}
      </div>
  </section>

  <hr class="gallery-divider">

    {{!-- Everything else --}}
    <h2 class="section-title">Everything else</h2>
    <div class="post-feed">
        {{!-- Fetch and display posts that do not have the 'Issues' tag --}}
        {{#get "posts" filter="tag:-issues" include="tags" as |otherPosts|}}
            {{#foreach otherPosts}}
                {{!-- The tag below includes the markup for each post from the partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </div>

    {{!-- Include pagination for other posts --}}
    {{#get "posts" filter="tag:-issues" include="tags"}}
        {{pagination}}
    {{/get}}

</div>
</main>
<script src="{{asset 'js/home.js'}}"></script>
